
<section class="home-top">
	<a href="/search">
		<div class="top-search">输入书名/作者/关键字</div> 
	</a>
	<div class="slide-panel">
		<div>
			<a href="#"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1488722653&di=3be3c317dd87ab26a6c40182547b2734&imgtype=jpg&er=1&src=http%3A%2F%2Fimg1.gtimg.com%2Fbaby%2Fpics%2Fhv1%2F95%2F4%2F2181%2F141820640.png"></a>
		</div>
	</div>
	<ul class="top-category clear">
		<li><a href="/male"><img src="/static/img/male.png"> <p>男生</p></a></li>
		<li><a href="/female"><img src="/static/img/female.png"><p>女生</p></a></li>
		<li><a href="/category"><img src="/static/img/category.png"><p>分类</p></a></li>
		<li><a href="/rank"><img src="/static/img/rank.png"><p>排行</p></a></li> 
	</ul>
</section>

