
<section class="recomment-panel">
	<div class="rec-title">
		<strong>重磅推荐 <em>推</em></strong>
		<div class="fr">
			<span>男</span> |
			<span>女</span>
		</div>
	</div>
	<div class="panel-item clear" v-for="item in recommend" v-if="$index==0">
			<a href="#"> 
				<div class="item-left fl">
					<img alt="{{item.title}}" v-bind:src="item.cover">
					<p>完结</p>
				</div> 
				<div class="item-right">
					<p>{{ item.title }}</p>
					<p>{{ item.authors }}</p>
					<p>{{ item.summary }}</p> 
					<div class="item-tag-box">
						<span class="item-tag" v-for= "tag in item.tags" v-if="$index < 3">{{ tag }}</span>  
					</div>
				</div>
			</a>
	</div>
	<ul class="rank-list" v-for="item in recommend" v-if="$index>0 && $index<10">
		<li  >
			<a href="#">   
				<span> 0{{ $index }}</span> 
				<span>{{ item.title }}</span> 
			</a>
		</li>
	</ul>
</section>



