<style type="text/css">
	.free-panel{

	}
	.free-panel li{
		width:33.3%;
	}
	.free-panel li img{
		
	}
</style>

<section class="free-panel">
	<ul>
		<li>
			<a href="#"><img src="https://images-cn.ssl-images-amazon.com/images/I/518dpvtwO-L._SY346_.jpg"></a>
		</li>
		<li>
			<a href="#"><img src="https://images-cn.ssl-images-amazon.com/images/I/518dpvtwO-L._SY346_.jpg"></a>
		</li>
		<li>
			<a href="#"><img src="https://images-cn.ssl-images-amazon.com/images/I/518dpvtwO-L._SY346_.jpg"></a>
		</li>
		<li>
			<a href="#"><img src="https://images-cn.ssl-images-amazon.com/images/I/518dpvtwO-L._SY346_.jpg"></a>
		</li>
		<li>
			<a href="#"><img src="https://images-cn.ssl-images-amazon.com/images/I/518dpvtwO-L._SY346_.jpg"></a>
		</li>
		<li>
			<a href="#"><img src="https://images-cn.ssl-images-amazon.com/images/I/518dpvtwO-L._SY346_.jpg"></a>
		</li>
	</ul>

</section>

