
<section class="free-panel">
	<div class="free-title">限时免费</div>
	<ul class="clear">
		<li v-for="item in free">
			<a href="/book?id={{item.fiction_id}}">
				<img alt="{{ item.title }}" v-bind:src="item.data.cover"> 
				<div class="free-limit"></div>
			</a>
		</li>
	</ul>
	<div class="panel-bottom-btn"><a href="#">更多限免操作 >> </a></div> 


	<div class="free-topic">精选专题 <em>热</em></div>
	<div class="hot-topic clear">
		<a href="#" v-for = "item in topic"><img v-bind:src="item.ad_pic_url"></a>
	</div> 
	<div class="panel-bottom-btn"><a href="#">更多精彩专题 >> </a></div>  
</section>

