
<section class="female-panel hot-panel ">
	<div class="hot-title">女生最爱</div> 
	<ul>
		<li class="panel-item clear" v-for="item in female" v-if="$index <= 5">
				<a href="/book?id={{item.fiction_id}}">
					<div class="item-left fl">
						<img alt="{{ item.title }}" v-bind:src="item.cover">
						<p>完结</p> 
					</div>
					<div class="item-right">
						<p>{{ item.title }}</p>
						<p>{{ item.authors }}</p>
						<p>{{ item.summary }}</p>
						<div class="item-tag-box">
							<span class="item-tag" v-for="tag in item.tags"  v-if="$index < 4">{{ tag }}</span>
						</div>
					</div>
				</a>
		</li>
	</ul> 
	<div class="opt-btn">
		<a href="javascript:;">换一换</a>
		<a href="#">女生频道 >> </a>
	</div>
</section>