<style type="text/css">
	.shelf-panel .top-search{
		margin:10px 15px;
		height: 30px;
		line-height: 30px;
		text-indent: 35px;
		border:1px solid #eee;
		border-radius:5px;
		color:#ddd; 
		background: url('http://www.easyicon.net/api/resizeApi.php?id=1912&size=24') no-repeat 7px;
		background-size: 16px;  
	}
	.shelf-panel .shelf-list{
		margin:10px;
	}
	.shelf-panel .shelf-list .panel-item{
		margin-bottom: 20px;
	}
</style>

<section class="shelf-panel">
	<div class="shelf-top">
		<a href="/search">
			<div class="top-search">输入书名/作者/关键字</div> 
		</a>
	</div>
	<ul class="shelf-list">
		<li class="panel-item clear"> 
				<a href="/book?id={{item.fiction_id}}">
					<div class="item-left fl">
						<img alt="渣王作妃" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg">
						<p>完结</p> 
					</div>
					<div class="item-right">
						<p>渣王作妃</p> 
						<p>浅浅的心</p>
						<p>大元王朝湛王爷，有权有财有貌，就是人变态了点！容家九小姐，有貌善良清纯，可惜除了貌其他都是装的！娶她...</p> 
						<div class="item-tag-box">
							<span class="item-tag">渣王作妃</span><span class="item-tag">历史穿越</span><span class="item-tag">古代情缘</span> 
						</div>
					</div>
				</a>
		</li>
		<li class="panel-item clear"> 
				<a href="/book?id={{item.fiction_id}}">
					<div class="item-left fl">
						<img alt="渣王作妃" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg">
						<p>完结</p> 
					</div>
					<div class="item-right">
						<p>渣王作妃</p> 
						<p>浅浅的心</p>
						<p>大元王朝湛王爷，有权有财有貌，就是人变态了点！容家九小姐，有貌善良清纯，可惜除了貌其他都是装的！娶她...</p> 
						<div class="item-tag-box">
							<span class="item-tag">渣王作妃</span><span class="item-tag">历史穿越</span><span class="item-tag">古代情缘</span> 
						</div>
					</div>
				</a>
		</li>
		<li class="panel-item clear"> 
				<a href="/book?id={{item.fiction_id}}">
					<div class="item-left fl">
						<img alt="渣王作妃" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p017io4EIZgP/tK1TkKVduNMK7w.jpg">
						<p>完结</p> 
					</div>
					<div class="item-right">
						<p>渣王作妃</p> 
						<p>浅浅的心</p>
						<p>大元王朝湛王爷，有权有财有貌，就是人变态了点！容家九小姐，有貌善良清纯，可惜除了貌其他都是装的！娶她...</p> 
						<div class="item-tag-box">
							<span class="item-tag">渣王作妃</span><span class="item-tag">历史穿越</span><span class="item-tag">古代情缘</span> 
						</div>
					</div>
				</a>
		</li>
	</ul>
</section>