<style type="text/css">
	.home-top{
		border-bottom:10px solid #ddd; 
		background: #fff;
	}
	.home-top .top-search{
		margin:10px 15px;
		height: 30px;
		line-height: 30px;
		text-indent: 35px;
		border:1px solid #eee;
		border-radius:5px;
		color:#ddd; 
		background: url('http://www.easyicon.net/api/resizeApi.php?id=1912&size=24') no-repeat 7px;
		background-size: 16px; 
	}
	.home-top .slide-panel img{
		width: 100%;
		height: 170px;
	}
	.home-top .top-category{
		display: -webkit-box; 
	}
	.home-top .top-category li{
		-webkit-box-flex:1;  
		height: 55px;
		padding-top: 5px; 
		text-align:center; 
		line-height: 18px; 
	}
	.home-top .top-category img{
		display: inline-block;
		width:25px;  
		height: 25px; 
	}

</style>
<section class="home-top">
	<a href="/search">
		<div class="top-search">输入书名/作者/关键字</div> 
	</a>
	<div class="slide-panel">
		<div>
			<a href="#"><img src="https://odnmedia.s3.amazonaws.com/image/shutterhacks_20140226090330825009.jpg"></a>
		</div>
	</div>
	<ul class="top-category clear">
		<li><a href="/male"><img src="/static/img/male.png"> <p>男生</p></a></li>
		<li><a href="/female"><img src="/static/img/female.png"><p>女生</p></a></li>
		<li><a href="/category"><img src="/static/img/category.png"><p>分类</p></a></li>
		<li><a href="/rank"><img src="/static/img/rank.png"><p>排行</p></a></li>
	</ul>
</section>

