<style type="text/css">
	.recomment-panel{
		padding:0 5px;
		border-bottom:10px solid #ddd;
	}
	.recomment-panel .rec-title{
		line-height: 40px;
		height: 40px;
		border-bottom:1px solid #ddd;
	}
	.recomment-panel .rec-title strong{
		position: relative;
	}
	.recomment-panel .rec-title em{
		position: absolute;
		right:-30px;
		top:3px;   
		display: inline-block;
		height: 12px;
		line-height: 12px;
		width:24px;
		text-align: center;
		background:#53ac7d;
		color:#fff;
		font-style:normal;
		font-size: 12px;
		font-weight: normal;
	}

	.recomment-panel .panel-item{
		margin:10px 0;
	}

	.recomment-panel .rank-list li{
		height: 50px;
		line-height: 50px;
		border-top:1px solid #ddd;
	}
	.recomment-panel .rank-list li span:first-child{
		color:rgba(237,83,15,0.9);
		padding:0 20px;
	}
</style>

<section class="recomment-panel">
	<div class="rec-title">
		<strong>重磅推荐 <em>推</em></strong>
		<div class="fr">
			<span>男</span> |
			<span>女</span>
		</div>
	</div>
	<div class="panel-item clear">
			<a href="#">
				<div class="item-left fl">
					<img src="https://images-cn.ssl-images-amazon.com/images/I/518dpvtwO-L._SY346_.jpg">
					<p>完结</p> 
				</div>
				<div class="item-right">
					<p>书名</p>
					<p>作者</p>
					<p>简介</p>
					<div class="item-tag-box">
						<span class="item-tag">标签</span>
					</div>
				</div>
			</a>
	</div>
	<ul class="rank-list">
		<li>
			<a href="#">
				<span>01</span>
				<span>超级老师</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>01</span>
				<span>超级老师</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>01</span>
				<span>超级老师</span>
			</a>
		</li>
		<li>
			<a href="#">
				<span>01</span>
				<span>超级老师</span>
			</a>
		</li>
	</ul>
</section>



