
<section class="home-top">
	<a href="/search">
		<div class="top-search">输入书名/作者/关键字</div> 
	</a>
	<div class="slide-panel">
		<div>
			<a href="#"><img src="https://odnmedia.s3.amazonaws.com/image/shutterhacks_20140226090330825009.jpg"></a>
		</div>
	</div>
	<ul class="top-category clear">
		<li><a href="/male"><img src="/static/img/male.png"> <p>男生</p></a></li>
		<li><a href="/female"><img src="/static/img/female.png"><p>女生</p></a></li>
		<li><a href="/category"><img src="/static/img/category.png"><p>分类</p></a></li>
		<li><a href="/rank"><img src="/static/img/rank.png"><p>排行</p></a></li> 
	</ul>
</section>

